<div class="container">
    <div class="container-details">
        <h4>DETALLES DE LA OBRA</h4>
        {{#each data}}
        <div class="card" style="width: 18rem">
            <img src={{webImage.url}} class="card-img-top" alt={{webImage.url}}>
            <div class="card-body">
                <h6>{{title}}</h6>
                <h5>{{principalOrFirstMaker}}</h5>
                <h5>{{productionPlace}}</h5>
                <p class="card-text">{{description}}</p>
                <a href="/colecciones" class="btn btn-primary">VOLVER</a>
                <a href="" class="btn btn-primary">GUARDAR</a>
            </div>
        </div>
        {{/each}}
    </div>
    <div class="d-grid gap-2">
        <button class="btn btn-dark block"><a href="/">INICIO</a></button>
    </div>
</div>